<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css" type="text/css">
    <title>Chi siamo?</title> 
</head>
<body >
    <img src="backgrounds/scrittaDB.png" alt="scrittaDaisyBell" id="scrittaDaisyBell"> 
        <p class="right-align"> DaisyBell è un servizio di riproduzione digitale di musica 
            con accesso immediato a tantissimi brani <br>
            e altri contenuti di autori da tutto il mondo.
        </p>
        <br> 
        <div class="daje">
            <h2>Scopri un nuovo modo di gestire la tua musica</h2>
            <p>Accedi istantaneamente ai tuoi brani preferiti e alle tue playlist personalizzate; <br>
                esplora nuovi generi musicali, e scopri artisti emergenti, tutto a portata di click.</p>
            <br>            
            <p></p>
            <br>
            <div>
            <h2>La nostra storia:</h2>
            <p>Daisy Bell(Bicycle Built For Two) è una canzone scritta da Harry Dacre nel 1892, <br>nota per essere stata 
                la prima canzone cantata da un calcolatore elettronico: <br> 
                venne infatti intonata da un computer IBM 7094 nei laboratori Bell nel 1961.<br><br>
            La canzone “Daisy Bell (Bicycle Built For Two)” ruota attorno all’amore, all’impegno 
                e all’importanza della connessione emotiva nelle relazioni.</p> 
            <p>Ispirandosi alla storia di questa canzone il nostro team ha voluto combinare la 
                passione per la programmazione e la musica; dando ad artisti e utenti la possibilità di essere sempre connessi. </p>       
            </div>
            <br>
            <br>
            <form action="/formLogin" method="get" class="cta-button">
                <input type="submit" value="Inizia subito e condividi il tuo ritmo con DaisyBell!">
            </form>
        </div>
        <br>
        <br>
        <br>
    </div>
    <h2>Il Team:</h2>
        <div class="team-section">
            <div class="ernesto">
                <img src="backgrounds/erne.jpeg" alt="Team Member 2">
                <h3>Ernesto Barrile</h3>
                <p>Miglior Junior Java Developer del Regno delle Due Sicilie</p>
                <p>Contact: ernestobarrile@bestjjd.com</p>
            </div>
            <br>
            <div class="stefano">
                <img src="backgrounds/ste.jpg" alt="Team Member 3">
                <h3>Stefano Castelletti</h3>
                <p>Più grande promessa italiana della musica contemporanea</p>
                <p>Contact: starrybeing@bestartist.com</p>
            </div>
            <br>
            <div class="luca">
                <img src="backgrounds/luca.jpg" alt="">
                <h3>Luca Pirovano</h3>
                <p>Preferisce dire joint che join</p>
                <p>Contact: centralpiro@lecco.it</p>
            </div>
            <br>
            <div class="leonardo">
                <img src="backgrounds/leonardo.jpg" alt="">
                <h3>Leonardo Niccolini</h3>
                <p>Vincitore del premio "Torno subito/Torno tra un attimo/Vado un attimo in bagno"</p>
                <p>Contact: leo@cocacolaconlacannuccia.it</p>
            </div>
            <br>
            <div class="giorgia">
                <img src="backgrounds/Giorgia.jpeg" alt="Team Member 8">
                <h3>Giorgia Di Giacomo</h3>
                <p>"Suo figlio è intelligente ma non si applica" ma al contrario</p>
                <p>Contact: gdg@nonhocapitocosadevofare.it</p>
            </div>
            <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <p>&copy; 2024 DaisyBell. All rights reserved.</p>
    </footer>
</body>
</html>