<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/confermaRegistrazione.css" type="text/css">
        <link rel="Icon" href="backgrounds/daisybell.png" type="image/png">
        <title>Conferma Registrazione</title>
    </head>
    <body>
        <div id="h1">
            <h1>Registrazione avvenuta con successo!</h1>
        </div>
        <br><br><br>
        <div id="form">
            <form action="/formLogin" method="get">
                <input type="submit" value="Login">
            </form>
        </div>
        
        
    </body>
</html>