<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contactUs.css">
    <link rel="Icon" href="backgrounds/daisybell.png" type="image/png">
    <title>Contattaci</title>
</head>
<body>

    <div class="contattaci">
        <h1>Contattaci</h1>
    <form class="form">
    
    <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input" id="hello">
            <span>Nome</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" id="ciao" >
            <span>Cognome</span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" class="input" id="ciao">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" type="tel" placeholder="" class="input" id="ciao">
        <span>Numero di contatto</span>
    </label>
    <label>
        <textarea required="" rows="3" placeholder="" class="input01" id="ciao"></textarea>
        <span id="messaggio">Messaggio</span>
    </label>
    
    <button class="fancy" href="#">
      <span class="top-key"></span>
      <span class="text">Invia 🌼</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    </button>
    </form> 
    </div>

    <div>
        <nav>
            <h1><a href="/" class="home-link">Torna alla Home</a></h1>
        </nav>
    </div>

    <footer>
        <p>&copy; 2024 DaisyBell. All rights reserved.</p>
    </footer>
</body>
</html>