<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <br>
        <form action="/login" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>
            <button type="submit" value="Login" id="login">Login</button>
            <div th:if="${error}" class="error-messagge">
                <p th:text="${error}"></p>
            </div>
            <br><br>
        </form>
        <form action="/formRegistrazione" method="get">
            <input type="submit" value="Registrazione">
        </form>
    </body>
</html>