<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daisy Bell</title>
    <link rel="stylesheet" href="css/formLogin.css" type="text/css">
    <script src="js/formLogin.js" defer></script>
</head>
<body>
    <div id="welcomeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>Benvenuto! Pronto per l'accesso?</p>
            <button onclick="startAudio()">Inizia!</button>
        </div>
    </div>
    <audio id="myAudio" preload="auto">
        <source src="/audio/daisy.mp3" type="audio/mpeg">
    </audio>
    <div class="login-wrapper">
        <div class="gif-background-left"></div>
        <div class="login-container">

            <h1>Accedi</h1>
            <form action="/login" method="post" class="login-form">
                <div class="input-group">
                    <input type="text" id="username" name="username" required placeholder="Nome utente">
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <button type="submit" id="login">Accedi</button>
                <div th:if="${error}" class="error-message">
                    <p th:text="${error}"></p>
                </div>
            </form>
            <div class="registration-links">
                <a href="/formRegistrazione" class="registration-link">Registrati</a>
                <a href="/formregistrazione-artista" class="registration-link">Registrati come Artista</a>
            </div>
        </div>
        <div class="gif-background-right"></div>
    </div>
    <footer>
        <p>&copy; 2024 Daisy Bell. All rights reserved.</p>
    </footer>
</body>
</html>
