<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="js/main.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1 id="bevenut">🌼 Benvenut*! 🌼</h1>
            <div class="links">
                <div class="playlist">
                    <h4><a href="/errore">Le mie playlist</a></h4>
                </div>
                <div class="admin-panel">
                    <h4><a href="/pannello-controllo" th:text="${actualUser}" th:if="${isAdmin}"></a></h4>
                </div>
                <div class="user-panel">
                    <h4><a href="/pannello-controllo-utente" th:text="${actualUser}" th:if="${isUtente}"></a></h4>
                    <a href="/logout">Logout</a>
                </div>
                <div class="cercaNome">
                    <p><button onclick="cercaNome()" id="bottoneCerca">
                        <svg
                        width="25px"
                        height="25px"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      ><path
                      d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"
                      stroke="#fff"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M22 22L20 20"
                      stroke="#fff"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                    </button>
                        <input type="text" id="cerca-nome" name="cerca-nome" placeholder="Cerca Artista">
                    </p>
                </div>
            </div>
        </nav>    
    </header>
    <br>
    <div id="album-container">
        <div class="image-container">
            <a href="/song-player">
                <img src="/backgrounds/CoverStarry.jpg" id="albumStarry">
                <h4 id="titoloAlbum">The Haunting</h4>
            </a>
        </div>
        <div id="albumSongs" class="table-container">
            <table id="album-table">
                <thead>
                    <tr>
                        <th>Titolo Canzone</th>
                        <th>Durata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="song : ${albumSongs}">
                        <td th:text="${song.titolo_canzone}"></td>
                        <td th:text="${#strings.substring(song.durata, 3)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

    <footer>
        <div id="divPlayer" class="custom-audio-player">
            <input type="file" name="file" id="file" class="inputfile" accept="audio/mp3" />
            <label for="file" class="file-label">Add Song</label>
            <audio id="audioPlayer"></audio>
            <div class="audio-controls">
                <button id="playPauseBtn"><i id="playPauseIcon" class="fas fa-play"></i></button>
                <input type="range" id="seekBar" value="0" max="100">
                <span id="currentTime">0:00</span> / <span id="duration">0:00</span>
            </div>
        </div>
        <div class="footer-content">
            <p class="copyright" id="copyright">&copy; 2024 DaisyBell. All rights reserved.</p>
            <a href="/about-us" class="footer-link">About us 🌼</a>
        </div>
    </footer>
</body>
</html>
