<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Area Utente</title>
    </head>
    <body>
        <h1><a href="/">Home</a></h1>
        <table>
            <thead>
                <th th:if="${isAdmin}">ID</th>
                <th>USERNAME</th>
                <th>NOME</th>
                <th>EMAIL</th>
                <th>PASSWORD</th>
                <th>RUOLO</th>
                <th>DATA REGISTRAZIONE</th>
            </thead>
            <tbody>
                <tr th:each="account : ${accounts}">
                    <td th:if="${isAdmin}" th:text="${account.id}"></td>
                    <td th:text="${account.username}"></td>
                    <td th:text="${account.nome}"></td>
                    <td th:text="${account.email}"></td>
                    <td th:text="${account.password}"></td>
                    <td th:text="${account.ruolo}"></td>
                    <td th:text="${account.data_registrazione}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>