<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Artista</title>
</head>
<body>
    <h1>Registrazione Utente</h1>
    <form action="/register-artista" name="registrazioneartista" th:object="${cantante}" method="post">
        <span>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" th:field="${cantante.username}" required>
        </span>
        <span>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome" th:field="${cantante.nome}" required>
        </span>
        <span>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" th:field="${cantante.email}" required>
        </span>
        <span>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" th:field="${cantante.password}" required>
        </span>
        <span>
            <label for="confermaPassword">Conferma Password</label>
            <input type="password" id="confermaPassword" placeholder="Conferma Password" name="confermaPassword" required>
        </span>
        <span>
            <label for="ruolo">Ruolo</label>
            <select id="ruolo" name="ruolo" th:field="${cantante.ruolo}" required>
                <option value="Artista">Artista</option>
            </select>
        </span>
        <span>
            <label for="nome_artista">Nome Artista</label>
            <input type="text" id="nome_artista" name="nome_artista" placeholder="Nome Artista" th:field="${cantante.nome_artista}" required>
        </span>
        <span>
            <label for="genere_musicale">Genere Musicale</label>
            <input type="text" id="genere_musicale" name="genere_musicale" placeholder="Genere Musicale" th:field="${cantante.genere_musicale}" required>
        </span>
        <span>
            <label for="biografia">Biografia</label>
            <input type="text" id="biografia" name="biografia" placeholder="Biografia" th:field="${cantante.biografia}" required>
        </span>
        <span>
            <button type="submit" value="Registrati">Registrati</button>
        </span>
        <span th:if="${error}" class="error-message">
            <span th:text="${error}"></span>
        </span>
    </form>
</body>
</html>