<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina del Cantante</title>
    <link rel="stylesheet" href="css/stefano.css" type="text/css">
    <script src="js/stefano.js"></script>
    <link rel="Icon" href="backgrounds/daisybell.png" type="image/png">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="/" id="Home">Home</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="photo" th:if="${stef}">
            <a href="/song-player"><img src="/backgrounds/Edit Starry 1.png" alt="Foto dell'artista"></a>
        </div>
        <div class="photo" th:if="${gianlu}">
            <a href="/song-playermp3"><img src="/backgrounds/foto profilo.jpg" alt="Foto dell'artista"></a>
        </div>
        <div class="details">
            <h1 th:text="${artista.nome_artista}"></h1>
            <h2 th:text="${artista.genere_musicale}"></h2>
            <div class="biography">
                <h3>Biografia</h3>
                <p th:text="${artista.biografia}"></p>
            </div>
        </div>
    </div>
    <main th:if="${isAdmin}">
        <section class="user-table" id="user-table">
            <table>
                <thead>
                    <th th:if="${isAdmin}">ID</th>
                    <th>Nome Artista</th>
                    <th>Genere</th>
                    <th>Biografia</th>
                    <th th:if="${isAdmin}">MODIFICA</th>
                </thead>
                <tbody>
                    <tr>
                        <td th:if="${isAdmin}" th:text="${artista.id}"></td>
                        <td th:text="${artista.nome_artista}"></td>
                        <td th:text="${artista.genere_musicale}"></td>
                        <td th:text="${artista.biografia}"></td>
                        <td th:if="${isAdmin}">
                            <button
                                th:modifica-id="${artista.id}"
                                th:modifica-nome_artista="${artista.nome_artista}"
                                th:modifica-genere_musicale="${artista.genere_musicale}"
                                th:modifica-biografia="${artista.biografia}"
                                class="modifica-btn"
                                onclick="modificaArtista(this)">
                                Modifica
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <aside id="modifica" hidden>
            <form id="modifica-artista" th:if="${isAdmin}" action="/modifica-artista" method="post">
                <input type="text" id="modifica-id" name="id" placeholder="ID" readonly>
                <input type="text" id="modifica-nome_artista" name="nome_artista" placeholder="nome_artista">
                <input type="text" id="modifica-genere_musicale" name="genere_musicale" placeholder="genere_musicale">
                <textarea type="text" id="modifica-biografia" name="biografia" placeholder="biografia"></textarea>
                <button id="chiudiModifica" class="chiudi-btn" onclick="chiudiFormModifica()">Chiudi</button>
                <input type="submit" class="submit-btn" value="Modifica">
            </form>
        </aside>
    </main>
    <div id="albumSongs" class="table-container">
        <table id="album-table">
            <thead>
                <tr>
                    <th>Titolo Canzone</th>
                    <th>Durata</th>
                    <th th:if="${isAdmin}">Modifica</th>
                    <th th:if="${isAdmin}">Elimina</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="song : ${albumSongs}">
                    <td th:text="${song.titolo_canzone}"></td>
                    <td th:text="${#strings.substring(song.durata, 3)}"></td>
                    <td th:if="${isAdmin}">
                        <button
                            th:modifica-idCanzone="${song.id}"
                            th:modifica-titolo_canzone="${song.titolo_canzone}"
                            th:modifica-durata="${song.durata}"
                            th:modifica-id_album="${song.id_album}"
                            th:modifica-percorso_canzone="${song.percorso_canzone}"
                            th:modifica-testi="${song.testi}"
                            th:modifica-numero_ascolti="${song.numero_ascolti}"
                            class="modifica-btn"
                            onclick="modificaCanzone(this)">
                            Modifica
                        </button>
                    <td th:if="${isAdmin}">
                        <a th:href="|/elimina-canzone?idCanzone=${song.id}|" id="elimina">Elimina</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <aside id="modificaCanzone" hidden>
        <form id="modifica-canzone" th:if="${isAdmin}" action="/modifica-canzone" method="post">
            <input type="text" id="modifica-idCanzone" name="id" placeholder="ID" readonly>
            <input type="text" id="modifica-titolo_canzone" name="titolo_canzone" placeholder="titolo_canzone">
            <input type="text" id="modifica-durata" name="durata" placeholder="durata">
            <input type="number" id="modifica-id_album" name="id_album" placeholder="id_album">
            <input type="text" id="modifica-percorso_canzone" name="percorso_canzone" placeholder="percorso_canzone">
            <textarea type="text" id="modifica-testi" name="testi" placeholder="testi"></textarea>
            <input type="number" id="modifica-numero_ascolti" name="numero_ascolti" placeholder="numero_ascolti">
            <button id="chiudiModificaCanzone" class="chiudi-btn" onclick="chiudiFormModificaCanzone()">Chiudi</button>
            <input type="submit" class="submit-btn" id="bottone-modifica" value="Modifica">
        </form>
    </aside>
    <div id="Inserisci" th:if="${isAdmin}">
        <h4>Inserimento di una nuova Canzone</h4>
        <form id="formCanzone" action="/aggiungi-canzone" method="post">
            <label for="titolo_canzone">Nome Canzone</label>
            <input type="text" id="titolo_canzone" name="titolo_canzone" required>
            <label for="durata">Durata</label>
            <input type="text" id="durata" name="durata" required>
            <label for="id_album">ID Album</label>
            <input type="number" id="id_album" name="id_album" required>
            <label for="percorso_canzone">Percorso Canzone</label>
            <input type="text" id="percorso_canzone" name="percorso_canzone" required>
            <label for="testi">Testo Canzone</label>
            <textarea type="text" id="testi" name="testi" required></textarea>
            <label for="numero_ascolti">Numero Ascolti</label>
            <input type="number" id="numero_ascolti" name="numero_ascolti" required>
            <button type="submit" th:if="${isAdmin}">Inserisci</button>
        </form>
    </div>
</body>
</html>