@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("/backgrounds/margheriteCheGirano.gif") repeat, radial-gradient(circle, rgba(255,215,0,1) 12%, rgba(255,255,255,1) 100%) no-repeat top center fixed;
    background-blend-mode: multiply; /* O un altro valore a tua scelta */
    color: #ffffff;
    text-align: center;
}

#h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 200%;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form input[type="submit"] {
    background-color: white;
    color: rgb(251, 238, 0);
    border: none;
    padding: 30px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 200%;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  /* Stile per il pulsante quando si passa sopra con il mouse */
  #form input[type="submit"]:hover {
    background-color: rgba(255,215,0,1);
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
