

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: radial-gradient(circle, rgba(255,215,0,1) 12%, rgba(255,255,255,1) 100%) no-repeat top center fixed;
    color: #000; /* Nero */
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    background-color: #f2f2f2; /* Grigio chiaro */
    padding: 40px;
    border-radius: 4px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

h1 { 
    text-align: center; 
    font-size: 24px;
    margin-bottom: 20px;
    color: #000; /* Nero */
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    background-color: #fff; /* Bianco */
    color: #000; /* Nero */
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #ffcc00; /* Giallo */
    color: #000; /* Nero */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffdd33; /* Giallo più chiaro */
}

.error-message {
    color: #e74c3c; /* Rosso */
    margin-top: 20px;
}

.registration-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.registration-link {
    color: #333; /* Grigio scuro */
    text-decoration: none;
    font-size: 14px;
}

.registration-link:hover {
    text-decoration: underline;
}

.gif-background-left, .gif-background-right {
    background-image: url('/backgrounds/daisybell.png'); /* Sostituisci con il percorso effettivo della tua GIF */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px; /* Larghezza della GIF */
    height: 100px; /* Altezza della GIF */
    flex: none; /* Non permette alle GIF di crescere o restringersi */
    animation: spVortex 2s infinite linear;
}

@keyframes spVortex {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(359deg);
    }
  }
  

.modal {
    display: none; /* Nascosto di default */
    position: fixed; /* Rimane fermo anche se la pagina viene scrollata */
    z-index: 1; /* Si trova sopra tutto il resto */
    left: 0;
    top: 0;
    width: 100%; /* Larghezza piena */
    height: 100%; /* Altezza piena */
    overflow: auto; /* Se necessario, aggiunge la scrollbar */
    background-color: rgb(0,0,0); /* Colore sfondo */
    background-color: rgba(0,0,0,0.4); /* Sfondo nero con opacità */
}

.modal-content {
    background-color: #f2f2f2; /* Grigio chiaro */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px; /* Angoli arrotondati */
    border-color: #f2f2f2; /* Grigio chiaro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiunge ombra per un effetto di profondità */
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: transparent;
    color: #000; /* Nero */
    text-align: center;
    padding: 20px 0; /* Aggiunge padding in alto e in basso */
    position: fixed;
    bottom: 0;
    width: 100%;
}
