
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #ffffff; /* Bianco */
    color: #000; /* Nero */
}

h1 { 
    text-align: center; 
    font-size: 24px;
    margin-bottom: 20px;
    color: #000; /* Nero */
}



footer {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #ffffff; /* Bianco */
    color: #000; /* Nero */
    text-align: center;
    padding: 20px 0; /* Aggiunge padding in alto e in basso */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    float: right;
    cursor: pointer;
}

.copyright {
    text-align: center;
    flex-grow: 1;
}

#fileInput{
    margin-right: 84%;
    font-size: 10px;
    color: #b8b8b8;
    cursor: pointer;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 0.60em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    margin-right: 92%;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #FFD700;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #fbf15c;
	outline: -webkit-focus-ring-color auto 5px;
}

.custom-audio-player {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.inputfile {
    display: none;
}

.file-label {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-audio-player {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}


.file-label {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#audioPlayer {
    display: none; /* Nasconde il riproduttore audio di default */
}

.audio-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -3%;
}

#playPauseBtn {
    background-color:  #FFD700;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#seekBar {
    width: 200px;
    margin: 0 10px;
}

#currentTime, #duration {
    font-family: monospace;
}

#album-container {
    display: flex;
    align-items: flex-start; /* Allinea verticalmente la tabella e l'immagine */
}

.image-container {
    flex: 0 0 auto; /* L'immagine mantiene la sua dimensione */
    max-width: 150px; /* Limita ulteriormente la larghezza massima dell'immagine */
    margin-left: 20px; /* Spazio tra il bordo sinistro della pagina e l'immagine */
    margin-right: 10px; /* Spazio ridotto tra l'immagine e la tabella */
}

#albumStarry {
    width: 89%; /* Mantiene la proporzione dell'immagine */
    height: auto; /* Adatta l'altezza automaticamente */
    border-radius: 10px; /* Arrotonda leggermente i bordi dell'immagine */
}

#titoloAlbum {
    font-size: 12px;
    margin-top: -3px;
    margin-left: 25px;
}

.table-container {
    flex: 1; /* La tabella occupa il resto dello spazio disponibile */
    max-width: 20%; /* Riduce la larghezza della tabella a meno di metà pagina */
}

#album-table {
    width: 100%; /* La tabella occupa tutta la larghezza disponibile nel contenitore */
    border-collapse: separate; /* Mantiene i bordi separati per arrotondarli */
    border-radius: 10px; /* Arrotonda i bordi della tabella */
    overflow: hidden; /* Nasconde gli angoli interni per l'arrotondamento */
}

#album-table th, #album-table td {
    border: 1px solid #ddd; /* Bordo delle celle */
    padding: 8px; /* Padding delle celle */
}

#album-table th {
    background-color: #f2f2f2; /* Colore di sfondo dell'intestazione */
    text-align: left; /* Allineamento del testo a sinistra */
    border-radius: 10px 10px 0 0; /* Arrotonda solo gli angoli superiori dell'intestazione */
}

#album-table tbody tr:last-child td {
    border-radius: 0 0 10px 10px; /* Arrotonda solo gli angoli inferiori delle celle dell'ultima riga */
}








