body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url("/backgrounds/gif2.gif") repeat, radial-gradient(circle, rgba(255,215,0,1) 12%, rgba(255,255,255,1) 100%) no-repeat top center fixed;
    background-blend-mode: multiply; /* Bianco */
    color: #000; /* Nero */
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #000; /* Nero */
    text-align: center;
    margin-bottom: 30px;
}

.form-registrazione {
    background-color: #f2f2f2; /* Grigio chiaro */
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000; /* Nero */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
    width: calc(100% - 20px); /* Calcola la larghezza come 100% meno il padding totale */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #fff; /* Bianco */
    color: #000; /* Nero */
}

.form-group textarea {
    height: 100px;
    resize: vertical;
    background-color: #fff; /* Bianco */
    color: #000; /* Nero */
}

.form-group button {
    width: calc(100% - 20px); /* Assicura che il bottone sia della stessa larghezza degli input */
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background-color: #ffcc00; /* Giallo */
    color: #000; /* Nero */
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffdd33; /* Giallo più chiaro */
}

.error-message {
    color: #e74c3c; /* Rosso */
    text-align: center;
    margin-top: 20px;
}
