body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #181818;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.form-registrazione {
    background-color: #282828;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
    width: calc(100% - 20px); /* Calcola la larghezza come 100% meno il padding totale */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
    background-color: #333;
    color: #fff;
}

.form-group button {
    width: calc(100% - 20px); /* Assicura che il bottone sia della stessa larghezza degli input */
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background-color: #1db954;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1ed760;
}

.error-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
}
